
.text-main-color{
   color: green;
}
.bg-main-color{
    color: rgb(255, 255, 255);
}
.dropdown:hover .dropdown-menu{
display: block;
margin-top: 0;
}
.banner{
    height: 100px;
    width: auto;
    background-image: linear-gradient(to right, #0d7363, #009e40) ;
}

.profile{
    width: 80px;
    height: 80px;
    background-image: url(146A3455.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}